* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(90deg, rgb(255,121,111) 10%, rgb(255,165,46) 60%, rgb(255,238,123) 100%);
    margin: 70px 200px 70px 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article {
    background-color: rgb(247, 249, 255);
}
h1 {
    font-size: 4em;
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(19, 44, 85) 30%, rgb(38, 71, 131) 80%, rgb(73, 84, 165) 100%);
    padding: 250px;
    text-align: center;
}
section {
    margin: 40px;
    width: 700px;
}
h2 {
    font-size: 2em;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
h2:hover {
    box-shadow: 0px 0px 10px rgb(129, 154, 255);
    cursor: pointer;
}
p {
    text-align:justify;
}
p, h3 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.border__radius_top {
    border-radius: 30px 30px 0px 0px;
}
.border__radius_bottom {
    border-radius: 0px 0px 30px 30px;
}