* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.note__style {
    background-color: rgb(224, 190, 183);
    padding: 30px;
}
main, header {
    margin: 0px 100px 0px 500px;
    padding: 150px;
}
body {
    background: linear-gradient(90deg, rgb(255,121,111) 10%, rgb(255,165,46) 60%, rgb(252, 186, 111) 100%);
}
main {
    background-color: rgb(255, 248, 234);
    border-radius: 20px;
}
header {
    font-size: 4em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
}
aside {
    background-color: rgb(255, 243, 234);
    position: fixed;
    height: 100%;
    width: 400px;
    top: 0;
}
aside > h2 {
    text-align: center;
    margin: 200px 0px 50px 0px;
    color: orange;

}
button {
    text-align: center;
    margin: 10px 50px 10px 50px;
    padding: 20px;
    width: 300px;
    border-radius: 30px;
    font-size: 1em;
    border: none;
    background-color: rgba(255, 177, 141, 0.27);
}
button:hover {
    background-color: rgb(255, 177, 141);
}
article{
    background-color:white;
}
h2 {
    font-size: 2em;
    text-align: center;
    color: rgb(255, 165, 97);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
p {
    text-align:justify;
}
p, h3, h4, h5 {
    padding: 10px;
}
ol, ul, ol > p, ul > p{
    padding: 10px;
    background-color: white;
}
li {
    margin-left: 100px;
}
.code__table {
    padding: 3px;
    background-color: rgb(221, 221, 221);
    text-align: center;
}
.code__table > h4 {
    padding: 10px;
    background-color: white;
}
img {
    display: inline;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}